In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing

from sklearn.naive_bayes import MultinomialNB

### 1.importing data

In [2]:
data_train = pd.read_csv("SalaryData_Train.csv")
data_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data_test = pd.read_csv("SalaryData_Test.csv")
data_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

### 2.getting data ready

In [4]:
data_train.info()    

#task is to encode columns and convert object data type into required data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
age              30161 non-null int64
workclass        30161 non-null object
education        30161 non-null object
educationno      30161 non-null int64
maritalstatus    30161 non-null object
occupation       30161 non-null object
relationship     30161 non-null object
race             30161 non-null object
sex              30161 non-null object
capitalgain      30161 non-null int64
capitalloss      30161 non-null int64
hoursperweek     30161 non-null int64
native           30161 non-null object
Salary           30161 non-null object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [5]:
label_encoder = preprocessing.LabelEncoder()
data_train['workclass']= label_encoder.fit_transform(data_train['workclass'])
data_train['education']= label_encoder.fit_transform(data_train['education'])
data_train['maritalstatus']= label_encoder.fit_transform(data_train['maritalstatus'])
data_train['occupation']= label_encoder.fit_transform(data_train['occupation'])
data_train['relationship']= label_encoder.fit_transform(data_train['relationship'])
data_train['race']= label_encoder.fit_transform(data_train['race'])
data_train['sex']= label_encoder.fit_transform(data_train['sex'])
data_train['native']= label_encoder.fit_transform(data_train['native'])
data_train['Salary']= label_encoder.fit_transform(data_train['Salary'])

data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
age              30161 non-null int64
workclass        30161 non-null int32
education        30161 non-null int32
educationno      30161 non-null int64
maritalstatus    30161 non-null int32
occupation       30161 non-null int32
relationship     30161 non-null int32
race             30161 non-null int32
sex              30161 non-null int32
capitalgain      30161 non-null int64
capitalloss      30161 non-null int64
hoursperweek     30161 non-null int64
native           30161 non-null int32
Salary           30161 non-null int32
dtypes: int32(9), int64(5)
memory usage: 2.2 MB

In [6]:
data_test.info()    

#task is to encode columns and convert object data type into required data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
age              15060 non-null int64
workclass        15060 non-null object
education        15060 non-null object
educationno      15060 non-null int64
maritalstatus    15060 non-null object
occupation       15060 non-null object
relationship     15060 non-null object
race             15060 non-null object
sex              15060 non-null object
capitalgain      15060 non-null int64
capitalloss      15060 non-null int64
hoursperweek     15060 non-null int64
native           15060 non-null object
Salary           15060 non-null object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [7]:
label_encoder = preprocessing.LabelEncoder()
data_test['workclass']= label_encoder.fit_transform(data_test['workclass'])
data_test['education']= label_encoder.fit_transform(data_test['education'])
data_test['maritalstatus']= label_encoder.fit_transform(data_test['maritalstatus'])
data_test['occupation']= label_encoder.fit_transform(data_test['occupation'])
data_test['relationship']= label_encoder.fit_transform(data_test['relationship'])
data_test['race']= label_encoder.fit_transform(data_test['race'])
data_test['sex']= label_encoder.fit_transform(data_test['sex'])
data_test['native']= label_encoder.fit_transform(data_test['native'])
data_test['Salary']= label_encoder.fit_transform(data_test['Salary'])

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
age              15060 non-null int64
workclass        15060 non-null int32
education        15060 non-null int32
educationno      15060 non-null int64
maritalstatus    15060 non-null int32
occupation       15060 non-null int32
relationship     15060 non-null int32
race             15060 non-null int32
sex              15060 non-null int32
capitalgain      15060 non-null int64
capitalloss      15060 non-null int64
hoursperweek     15060 non-null int64
native           15060 non-null int32
Salary           15060 non-null int32
dtypes: int32(9), int64(5)
memory usage: 1.1 MB

### 3.slpitting the data into x and y

In [8]:
x_train=data_train.iloc[:,0:13]
y_train=data_train.iloc[:,13]
x_test=data_test.iloc[:,0:13]
y_test=data_test.iloc[:,13]

### 4.naive bayes

In [9]:
model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
#training accuracy
train_pred = model.predict(x_train)

train_acc = np.mean(train_pred==y_train)
train_acc

0.7729186698053778

In [11]:
#testing accuracy
test_pred = model.predict(x_test)

test_acc = np.mean(test_pred==y_test)
test_acc

0.7749667994687915

In [12]:
#prediction for new value
prediction = model.predict([[25,0,2,6,0,2,0,0,1,45,0,35,1]])
print("predicted value : ",prediction)

predicted value :  [0]